[2014-09-16 14:25] mmanela opened #1 "the difference is space symbol"
<b>Ablokha[CodePlex]</b> <br />In those lines quotHello-Kittyquot quotHello - Kittyquot, the word quotHelloquot will be marked as difference. Although the difference is space symbol.

The good thing will be to have also the flag, if to mark whitespaces/word delimeters as difference at all.

[2014-09-16 14:25] mmanela opened #2 "DiffPlex.dll should be strongly signed"
<b>rpmodell[CodePlex]</b> <br />We only use strongly signed libraries in our project, but DiffPlex isn't strongly signed. Because of this I had to create a custom build and can't use the NuGet package.

Is it possible that DiffPlex.dll becomes strongly signed? See
http://msdn.microsoft.com/en-us/library/ms247123(v=vs.100).aspx for more information.

[2014-09-16 14:25] mmanela opened #3 "API should take accept string[] for Lines"
<b>AArnott[CodePlex]</b> <br />Instead of forcing the entire buffers to be compared into a single String instance, an array of lines (string[]) should be accepted. Since it will be split into lines anyway this means you can reuse all those instances instead of creating them yourself.
 It also means that the maximum file you could operate on can increase because no object has to be too large.

[2014-09-16 14:25] mmanela opened #4 "Last word is different before line break."
<b>vcpirkle[CodePlex]</b> <br />In the following example the word "marketability" is different when comparing the strings using differ.CreateWordDiffs even though the strings are identical up to that point.

string string1 = "**_PREDOMINANT VALUE**_ The predominant value is based on all properties throughout the market area. The subject is not considered over-improved and being above the predomina

[2014-09-16 14:25] mmanela opened #5 "Strong name sign please"
<b>AArnott[CodePlex]</b> <br />I just found I cannot reference this assembly because the build on Nuget.org isn't strong-name signed and my assembly is.

Can you please sign it?

[2014-09-16 15:37] #2 closed, assigned to nobody

[2014-09-16 15:38] #5 closed, assigned to nobody

[2014-09-18 13:54] semenenkov opened #6 "Version 1.2.1 cannot be installed for .net 4 client profile application"
Trying to install version 1.2.1 with nuget for .net application targeted to .net 4 client profile, installation fails. Using VS2012 Pro. Previous version does not have this issue:

---

PM> Install-Package DiffPlex
Successfully installed 'DiffPlex 1.2.1'.
Successfully uninstalled 'DiffPlex 1.2.1'.
Install failed. Rolling back...
Install-Package : Could not install package 'DiffPlex 1.2.1'. You are

[2014-09-18 16:01] #6 closed, assigned to AArnott

[2014-11-10 17:11] iagoz opened #7 "DiffPlex strange result (apparent bug)"
Hi,
I'm currently working on application which allows user to compare between two strings which might contain a single character, xaml, xml, or another format of documents. I'm using a DiffPlex .Net algorithm for comparing and I get a strange result.
Here is a DiffPlex for Silverlight project. This is a state before generating DiffPlex Model:
![before generate diff](https://cloud.githubusercontent

[2015-03-06 06:09] jspraul opened #8 "Unable to use DiffPlex due to license incompatibility"
The Open DBDiff project received [a pull request](https://opendbiff.codeplex.com/SourceControl/network/forks/UdginPyl/openDbDiff/contribution/8080) incorporating your control (which appears to be awesome), but as best I can tell I can not accept it due to the [use of the Ms-PL license](http://programmers.stackexchange.com/questions/191123/why-isnt-the-microsoft-public-license-compatible-with-the-g

[2015-03-07 06:47] mmanela commented on #8
I updated the license to apache

[2015-03-07 22:41] #8 closed

[2015-03-08 02:00] jspraul commented on #8
Thank you much!

[2015-09-27 06:19] isvaljek opened #9 "Is there a merge functionality in this library?"
I would like to know how to merge two files if the DeleteCount is 0.

[2015-09-27 20:31] mmanela commented on #9
I never added merge functionality.

[2015-10-30 07:00] isvaljek opened #10 "Destructive vs non-destructive changes between two files"
Is there a way to detect whether file changes between old and new file version were destructive or non-destructive?
Non destructive would be text addition, and destructive would be overwrites and deletions.

[2015-10-30 13:43] mmanela commented on #10
I believe if you look at the DiffBlock models if one of those contains deletions on the file you don't want destroyed then it indicates a destructive change.

[2015-10-30 19:11] isvaljek commented on #10
Thanks,

I have two more questions:
*on some diffblocks there are sometimes deleteCountA 0 and deleteStartA of non zero, how come?
0: DeleteCountA: 3, DeleteStartA: 7
0: InsertCountB: 1, InsertStartB: 7
1: DeleteCountA: 0, DeleteStartA: 39
1: InsertCountB: 1, InsertStartB: 37

*can you give me a brief example how would one go about merging two files based on CreateLineDiffs with no deletions detec

[2015-11-09 21:48] giggio opened #11 "Support .NET 4.5 and forward"
Please support .NET 4.5, 4.5.1, 4.5.2 and 4.6.

[2015-11-09 21:48] giggio opened #12 "Support the .NET Standard Library"
Please support the .NET Standard Library: https://docs.microsoft.com/en-us/dotnet/articles/standard/library

[2015-11-10 01:07] ryanlin1986 commented on #11
+1

[2015-11-11 22:12] mmanela commented on #11
Does Chutzpah not run on those? It should run fine.Is there an issue?

''
Now a PCL (portable library) that targets .NET 4.0, Silverlight 5.0, Windows 8.0, Windows Phone 8.0, Windows Phone Appx 8.1. '''

[2015-11-11 22:13] mmanela commented on #12
What is needed to support DNX?

[2015-11-11 22:23] giggio commented on #12
You would need to migrate from a .csproj/package.config project file structure to a .xproj/project.json file structure. With it, you don't need the nuspec files anymore, as project.json already does all that work. It is a considerable change, so you might want to check that more carefully.
To be fair, current 4.0 should already work with dnx. So, a better title would be "support dnx with .NET core

[2015-11-11 22:24] mmanela commented on #12
If I am already a "portable" library does that not mean I work on core? Do I need the DNX project structure to target core?

[2015-11-11 22:28] giggio commented on #11
Chutzpah does not provide any libraries, only tools, so it should install fine. Where did you get this message, @mmanela?

[2015-11-11 22:30] giggio commented on #12
No, a PCL will not work with .NET Core. You have to specifically target it.
If you use VS 2015 and try creating a `Console Application (Package)` you will see `dnxcore` as a runtime. You will see that you will not be able to add a reference to `diffplex`.

[2015-11-11 22:31] mmanela commented on #12
It doesn't seem to list dnxcore here:

![image](https://cloud.githubusercontent.com/assets/304410/11104988/f0d34876-8880-11e5-8e81-64261ccdf79b.png)

What do I need to do?

[2015-11-11 22:33] mmanela commented on #11
That is the comment I included on the release notes when I fixed the targeting :)

[2015-11-11 22:33] mmanela commented on #11
And Chutzpah *does* contain a library.

[2015-11-11 22:33] mmanela commented on #11
But back to the question at hand. If I already target 4.0 do I need to change anything?

[2015-11-11 22:36] giggio commented on #12
You are creating the incorrect project type. The dnx projects are still under the Web node, on the project creation tool. Look for the `Console Application (Package)` project on VS 2015.

[2015-11-11 22:40] mmanela commented on #12
Ok, I can take a look at that.

[2015-11-11 22:41] giggio commented on #11
Chutzpah only provides tools:

![chutz](https://cloud.githubusercontent.com/assets/334958/11105134/242dd780-88b4-11e5-9f96-dc017bfecb55.png)

For it to provide libraries, it would need a `lib` folder.

You need to include .NET 4.5. First test against it, then update your nuspec files to include it. I don't think you can support 4.5 and 4.0 on the same binary, if you want to continue to support .NE

[2015-11-11 22:46] giggio commented on #12
This is what will happen if you try to target `dnxcore`:

![diffplex](https://cloud.githubusercontent.com/assets/334958/11105283/154d122a-88b5-11e5-8ae2-c44d0d0e0506.png)

Here is the `project.json` file contents:

[code]

If you remove `dnxcore50` it compiles and runs just fine.

[2015-11-11 22:50] mmanela commented on #12
If I build diffplex for .net core can someone use it from .net 4.5 ?

[2015-11-11 22:53] giggio commented on #12
Hm... That is a good question. I would say that probably not, at this moment.
If you checkout this document: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md
You will see how these things will work together.
If you decide to target the new `netstandard`, everything would just work. But that is not done yet.

[2015-12-11 22:08] nguyenm100 opened #13 "simple compare question"
Using your web sample

My old text is: a
My new text is: abc

Why does it mark my old text as "Deleted" and new text as "Inserted".  Shouldn't "a" be unchanged (in old and new text) and "bc" be inserted in new text?

[2015-12-11 22:15] nguyenm100 commented on #12
I believe the above link references changes for rc2 (currently things are at rc1 with rc2 slated for 2/2016).  In RC1, I believe you want to mark your (shared) assemblies as "donet5.4" (this changes to netstandard in RC2) to be completely neutral (and anyone can use it) and mark your app dnxcore50 to use dnx instead of (windows).net 4.6

The naming is horribly confusing :-(

[2015-12-14 14:54] giggio commented on #12
Yes, the new .NET Standard will allow you to support .NET Core and .NET 4.5.

[2015-12-17 22:52] mmanela commented on #13
The webdiffer example only does word level diff. Diffplex supports letter but I am not showing it there

[2015-12-17 22:52] #13 closed

[2016-01-13 12:02] russcam commented on #12
I have [a working DNX build](https://github.com/russcam/diffplex/tree/dnx-support) - once I've run the tests, I'll submit a PR :+1:

[2016-04-18 13:49] MrStepson opened #15 "Wrong side by side comparison"
It seems there are few issues with word-breaks processing (tested with side-by-side web UI):
1. Compare “**Hello,·World!**“ with “**Hello!**” – whole “old text” (“**Hello,·World!**”) is marked as _Deleted_. But actually “**Hello**” should be marked as “_Unchanged_”,  “**,·World**” as deleted and “**!**” as Unchanged.
2. Compare “**Hello,·World!**“ with “**Hi, Wordl!**” – “**Hello,**” is marked as

[2016-04-26 20:37] mrchen911 opened #16 "System.StackOverFlowException in System.Web.dll"
I downloaded the latest.  I added DiffPlex and WebDiffer as existing projects into my solution.  I made sure all the references lined up.  I run the WebDiffer project and it comes up successfully.  I paste text into each box and get the differences successfully.

Here's the weird part, if I let it sit for 2 to 2 1/2 minutes I get a System.StackOverFlowException in System.Web.dll.

I upgraded the t

[2016-04-26 20:58] mrchen911 commented on #16
Here's what I'm able to figure out so far, I noticed the data I was comparing had a dozen or so blank lines at the end, so I did a compare of large documents with blank lines and the stack overflow error occurs much faster.

[2016-04-27 14:35] mrchen911 commented on #16
Doesn't appear to have anything to do with the blank lines, I added a TrimEnd to the input from the WebDiffer and it still threw the exception.  This morning I set WebDiffer to use the DiffPlex.Net40Client and I got a serialization error even though it worked.  Unfortunately it's doesn't break on any specific line of code.

Of note, this only appears to happen when I run it from within Visual Stud

[2016-08-15 03:49] Daniel15 commented on #12
Any updates here?

[2016-08-15 03:51] russcam commented on #12
I got sidetracked on other things; I'll update the DNX version I have to use the new tooling and update the PR

[2016-08-16 20:48] giggio commented on #12
I updated the description, we don't need DNX support anymore, we need .NET Standard Support. :)

[2016-08-25 18:04] giggio commented on #12
@russcam when are you planning on updating this PR?

[2016-11-18 20:44] fgpfgp commented on #16
I'm running into this too, but with version 1.2.1 . Is this still a problem with the latest version (1.2.2)?

[2016-11-18 23:48] mrchen911 commented on #16
When I ran into this it was while comparing applicationhost.config files with 800 sites and 10 applications in each.  Using it to compare smaller sets of data isn't a problem.

[2016-11-19 00:06] fgpfgp commented on #16
What do you consider "smaller sets"? I'm just trying to compare two sets of 90 lines and it can't even handle that. What's strange is that the failure occurs after the controller returns the view model to the web server. So I see my complete results in my browser, then VS bombs out. I haven't tried the web app on IIS (vs IIS Express) yet. Can't seem to publish it without an error so far.

[2016-11-19 04:07] mmanela commented on #16
Can you provide two data sets I can diff to repro this issue?

[2016-11-19 04:37] fgpfgp commented on #16
In VS 2015, running the webdiffer app right out of the box, I entered the 94 lines of 0123456789 in both of the text boxes (oldtext & newtext). Click on "Create Diff", the page renders, and about 10-30 seconds later, the  debugger reports a StackOverFlowException.

I really hope you can get this fixed as I like what you've developed.

[2016-11-20 02:17] mmanela commented on #12
I took a stab at changing diffplex into a netstandard dll but I am hitting issues. Would love someone who has more experience with this to help. I pushed my changes here: https://github.com/mmanela/diffplex/tree/dotnetcore

I attempted to convert DiffPlex, DiffPlex.ConsoleRunner, Facts.DiffPlex and Perf.DiffPlex to netstandard. I omitted the other two project for now to keep it simple. However, I

[2016-11-20 06:37] mmanela commented on #16
Thanks, I'll take a look

[2016-11-20 07:34] russcam commented on #12
I got around to updating the PR #14 that I had for updating to DNX and have ported it over to using .NET Core 1.0 in #17. Additionally, I have added a Build project that uses [FAKE](http://fsharp.github.io/FAKE/index.html) to build the solution and run unit tests. Because FAKE is pulled in through nuget, it means a nuget restore needs to be done before the `build.bat` build script can run.

If int

[2016-11-21 05:46] mmanela commented on #12
@russcam With 2017 RC they no longer use the json files and its now using a simple version of project xml. In my branch (https://github.com/mmanela/diffplex/tree/dotnetcore) it looked pretty simple although I hit that odd dependency issue. I think we should move to this since this is where its going to be with the new release of VS.

[2016-11-21 05:54] russcam commented on #12
@mmanela, ok. I'll need to install VS 2017 RC and take a look

[2016-11-21 20:52] mmanela commented on #12
Good news, I got it working in my branch https://github.com/mmanela/diffplex/tree/dotnetcore

[2016-11-22 19:29] fgpfgp commented on #16
any luck?

[2016-11-23 16:29] mmanela commented on #16
Its not a bug in Diffplex, it looks like a bug in the asp.net -> VS-BrowserLink. I turned that feature off and it works fine.

http://www.poconosystems.com/software-development/how-to-disable-browser-link-in-visual-studio-2013/

[2016-11-23 16:29] #16 closed

[2016-11-23 17:33] fgpfgp commented on #16
You are correct. After hours of research, I never came across this bug. Thank you so much for following up and developing such a good  project.

[2017-03-14 18:19] mmanela commented on #12
Just published a new package that targets netstandard 1.4

[2017-03-14 18:19] #12 closed

[2017-03-15 18:18] riyadparvez commented on #11
Does not support Mono.

Below is the output:

Attempting to gather dependency information for package 'DiffPlex.1.3.0' with respect to project 'diffplex.test', targeting '.NETFramework,Version=v4.5'
  GET https://api.nuget.org/v3/registration1-gz/diffplex/index.json
  OK https://api.nuget.org/v3/registration1-gz/diffplex/index.json 63ms
Total number of results gathered : 1
Gathering dependency inf

[2017-03-15 20:24] riyadparvez opened #18 "Get output similar to wdiff (*nix utility)"
I'm trying to get word by word diff similar to wdiff utility in *nix. Is there any way to achieve output similar to wdiff?

For reference, this is the output format of wdiff:
[code]

[2017-03-16 01:29] mmanela commented on #18
You would need to build it. I think the idea of diff formatters would be really nice to add to this library. I think my existing diff model should allow you to build that.

Would you be interested?

[2017-03-16 03:31] mmanela commented on #11
Can you share what commands you ran and how? (I am new to mono).

[2017-03-16 13:47] riyadparvez commented on #11
I've used from GUI of VS for Mac preview. If I set target framework of the project to "Mono / .NET Framework 4.5" and try to install DiffPlex through nuget, I see the above error.

[2017-03-16 14:05] riyadparvez commented on #18
Sure, I'm interested in contributing back. I'm actually looking for API for word to word diff similar to following inline diff builder:

[code]

Unfortunately, I couldn't find any similar API for word to word diff. I got the following code working so far.

[code]

However, the output is not very intuitive and hard to understand. Is it possible to get output like the inline diff builder?

[2017-03-16 18:47] riyadparvez commented on #15
Yes. This bug is still there.

[2017-03-16 20:26] riyadparvez opened #19 "Generic diff utility for sequences of custom objects"
Python has a nice library called difflib [1], which has class `SequenceMatcher` that can diff not only string but also two difference sequences. Is there any plan to add something similar to `SequenceMatcher` to diffplex? The core algorithms in diffplex should work, just all the core classes have to be made generic and string specific code has to be refactored. This would be really good feature to

[2017-03-16 21:06] mmanela commented on #19
Would you be interested in contributing this? I would love to get more developers involved :)

[2017-03-16 23:14] mmanela commented on #15
I have a fix for this. Will get it out soon.

[2017-03-17 18:43] riyadparvez commented on #19
I'm using diffplex for one of the projects I'm working on. If my current approach turns out to be working, then I'm probably going to invest some time in diffplex itself.

[2017-03-19 13:26] LisFox7 commented on #16
Thank you so much. Half a day spent on solving this problem.

[2017-03-20 00:15] mmanela commented on #18
The Differ is the core api. It tells you exactly which blocks are deleted/inserted. If you look at the code for Inline builder it shows how to interpret those blocks

[2017-03-20 00:15] mmanela commented on #15
Released on 1.4

[2017-03-20 00:15] #15 closed

[2017-03-20 00:15] mmanela commented on #11
I am targeted .netstandard 1.4. What does mono support?

[2017-03-20 00:16] #11 closed

[2017-03-20 00:16] #1 closed

[2017-03-20 00:16] #4 closed

[2017-03-20 00:18] mmanela commented on #10
It means nothing was changed on that side of the diff I believe.

[2017-03-20 00:18] #10 closed

[2017-03-20 15:37] riyadparvez commented on #18
I've tried to install diffplex on: https://dotnetfiddle.net/. Couldn't install diffplex there. Although, it might be an issue on their end.

BTW, you can try setting up online continuous build. Travis CI offers Mono support and Appveyor offers Windows support. Here are examples of config files needed for Travis and Appveyor: https://github.com/jstedfast/MimeKit/blob/master/.travis.yml and https://

[2017-03-20 15:37] riyadparvez commented on #11
I've tried to install diffplex on: https://dotnetfiddle.net/. Couldn't install diffplex there. Although, it might be an issue on their end.

BTW, you can try setting up online continuous build. Travis CI offers Mono support and Appveyor offers Windows support. Here are examples of config files needed for Travis and Appveyor: https://github.com/jstedfast/MimeKit/blob/master/.travis.yml and https://

[2017-03-20 16:11] riyadparvez opened #20 "Semantics of word by word diff"
I'm trying to understand the semantics of word to word diff in diffplex w.r.t. wdiff.

Output from wdiff:

`{+c+}` means only "c" has been inserted.

If I try the same in diffplex word to word diff:
[code]

Converting ^^^ output into wdiff format will be like this: `a {+     +} b {+c+}`. I'm not sure of the semantics of word to word diff in diffplex. But I think output of wdiff is intuitive and de

[2017-03-20 16:32] riyadparvez opened #21 "ArgumentOutOfRangeException"
I'm trying the following code snippet:

[code]

it throws `ArgumentOutOfRangeException`. Same is also if I set: `var result = differ.CreateWordDiffs(prev, current, false, new char[] { ' ', '\n'});`.

[2017-03-25 01:10] jupagose opened #22 "Install via nugget on .net 4.5.2 throws"
Can't install 'DiffPlex 1.4.0' package, into a project target to .NETFramework, Version=v4.5.2, but the package doesn't contains assembly references or compatible files to it.

[2017-03-25 02:23] mmanela commented on #22
Chutzpah is targeting netstandard 1.4 which means the min .net framework is 4.6.1

[2017-03-25 02:25] mmanela commented on #22
If you take the older version it should work on that framework https://www.nuget.org/packages/DiffPlex/1.2.1

[2017-03-25 02:25] #22 closed

[2017-03-25 02:48] jupagose commented on #22
Tks. :)

[2017-03-29 21:40] drewnoakes opened #23 "Is it possible to also target net45?"
I would like to upgrade from 1.2.1 to 1.4.0, but my project targets `net45` which isn't covered by `netstandard1.4`.

Is there a way to maintain support for `net45`? Are there any APIs you'd miss out on? If so, can they be worked around without excessive changes?

I maintain a [library that targets `net35`, `net45` and `netstandard1.3`](https://www.nuget.org/packages/MetadataExtractor/2.0.0-rc2) a

[2017-03-30 01:33] mmanela commented on #23
There is no reason this can't be done, it might already be fine for 1.3. If you are interested take a stab at it and I will gladly accept.

[2017-03-30 19:40] drewnoakes commented on #23
Good to hear. I'll take a shot as time permits.

Not sure if you were suggesting that 1.3 would support .NET 4.5. If so, FYI, `netstandard1.3` covers `net46`, not `net45` or `net451`.

https://docs.microsoft.com/en-us/dotnet/articles/standard/library

[2017-03-30 19:41] mmanela commented on #23
We could try to 1.2 :)

[2017-03-30 22:17] drewnoakes commented on #23
Actually there was nothing stopping the core library dropping to `netstandard1.0`. That's enough for my purposes, though it should be possible to add `net35` if needed, or other platforms.

[2017-03-30 22:44] #23 closed

[2017-03-30 22:45] mmanela commented on #23
I merged and will try to publish new version soon

[2017-03-31 03:08] mmanela commented on #23
I published version 1.4.1 (and also your change finally made me go set up an appveyor build for this project )

[2017-03-31 08:55] drewnoakes commented on #23
Great, I'll test it out. Thanks for the quick turnaround.

[2017-06-04 17:16] MistyKuu opened #27 "Invalid diff containing spaces in Side By Side Diff model"
I'm building diff view using DiffPlex version 1.2.1. I've noticed however that sometimes it picks up a space (or .) after the word as a difference and sometimes it doesn't. Why does it even include it if it's the same in both texts?

This is how I do it:

[code]

Later I'm using Subpieces texts to highlight the difference.

Incorrect:
![image](https://cloud.githubusercontent.com/assets/10333668/26

[2017-06-05 17:51] MistyKuu commented on #27
It seems to be fixed when I used sources.

[2017-06-05 17:51] #27 closed

[2017-06-05 18:01] MistyKuu opened #28 ".NET 4.5+ Framework support"
Any chance of releasing .NET framework version side by side with .NET standard? There is a bug in last .NET framework version.

[2017-06-06 15:16] mmanela commented on #28
@MistyKuu I thought you can use .netstandard from .net framework?

[2017-06-06 15:20] MistyKuu commented on #28
Yes I can but if I reference it from framework it adds about 20 dependencies from nets tankard and I don't want to include them

[2017-06-06 15:25] mmanela commented on #28
Sure, I am not against multi-targeting but I do not have time to play with it right now. I would gladly accept a PR if you wanted to.

[2017-06-06 15:32] MistyKuu commented on #28
Can I build it myself from your sources and use it or is it against your license?

[2017-06-06 15:50] VahidN commented on #28
You can use `dotnet pack` to do it automatically
[code]

[2017-06-11 15:04] MistyKuu opened #29 "InlineDiffBuilder word diff in lines"
Is there a way to include Subpieces in InlineDiffBuilder? I'm trying to create inline diff view but I want to higlight the changes on word level instead of line level. With SideBySideBuilder it's possible but Inline doesn't generate it.

[2017-06-25 00:05] mmanela commented on #29
It is possible just I never added it for that . If you go ahead I would gladly accept a PR.

[2017-07-13 07:58] bansalhoney opened #30 "Incorrect Result"
Hi,

I am working on a windows application where I am comparing word by word of two strings. I used SideBySideDiffBuilder.BuildDiffModel to get the comparison result.

Sometimes, what happens is even if the word is same in both the strings at a particular position, it shows as word has been deleted in second string and it continues like this for some words untill it finds same word at later stage

[2017-07-13 08:20] bansalhoney commented on #30
I am running the app for unicode font Punjabi (India).

[2017-07-16 21:58] mmanela commented on #30
Can you give an example? A file of text I can use?

[2017-07-23 10:51] petertoman80 opened #31 "Word being flagged as deleted as well as inserted incorrectly"
Old Text: "The blue aircraft shall, as soon as"
New Text: "The aircraft of WW2 era shall, as soon as"

It marks word "aircraft" as deleted in Old Text and inserted in New Text.
I think it should remain unchanged.

![image](https://user-images.githubusercontent.com/3522197/28498763-0aa11058-6f9d-11e7-936b-794dc488b918.png)

[2017-07-23 13:33] mmanela commented on #31
I agree, seems off. This is worth investigating.

[2017-08-30 14:09] setagana opened #32 "Won't build, stating .NET Framework 3.5 can't be found"
Hi there,

I'd really like to use this package but I can't, for love nor money get it to build. Whenever I try to build the Diffplex project from Visual Studio 2017 I get an error saying .NET Framework 3.5 or higher needs to be installed. My system has both .NET Framework 4.7 and .NET Core 1.1.0 installed, I have verified this through a registry check for the Framework and dotnet --version for Cor

[2017-08-30 14:36] mmanela commented on #32
Try deleting net35 from [DiffPlex.csproj](https://github.com/mmanela/diffplex/blob/master/DiffPlex/DiffPlex.csproj)

[2017-08-31 08:45] setagana commented on #32
That seems to have done the trick, thanks!

[2017-08-31 08:45] #32 closed

[2018-02-22 01:06] vitc2002 opened #34 "InlineDiffBuilder needs an overload that takes ignoreCase parameter (and probably ignoreWhitespaces, too)"
InlineDiffBuilder.BuildDiffModel calls into IDiffer.CreateLineDiffs(oldText, newText, true), therefore hardcoding ignoreCase parameter to a default value, which is false, and also hardcoding ignoreWhitespace to true (per call done above).
An overload to BuildDiffModel is needed to pass in ignoreCase (and probably ignoreWhitespace) parameters.

[2018-04-12 15:17] szalapski opened #35 "Is there any way to get a subjectively better character chunker?"
For example, I would like comparing "foo bar baz" and "foo bar fizz bazinga" to show a diff with inserting "fizz" and "inga", rather than inserting "fi" and "zinga".  In this example, my hope is that it could still be a character matcher, but prioritize later larger- or whole-token chunk matches over earlier small-chunk matches.

Another such example is comparing "life, liberty, and property" to "

[2018-05-30 23:45] dekenless opened #36 "Result not what I expected"
<img width="613" alt="bad" src="https://user-images.githubusercontent.com/10144906/40753415-824f8fb0-6463-11e8-8a62-e1b5b959951a.PNG">

Below is from Notepad++ using the Compare plug in (this is the result I would expect):
<img width="739" alt="good" src="https://user-images.githubusercontent.com/10144906/40753436-a9ddcdc6-6463-11e8-9a89-5ea264f5e65f.PNG">

Attached are the sample files.  Any thou

[2018-09-21 13:40] #28 closed

[2018-11-13 19:52] jaswicki opened #40 "Question about use"
I am trying to use the side by side comparison in my project. Currently my project lets the user select 2 GPOs from a list and it presents them in side by side WebBrowser controls. I would then want them to be marked up to show the differences in the 2 policies.

I know this has been around a while but are there any good examples that can be referenced? I am stuck and really don't want to reinvent

[2018-11-13 21:19] mmanela commented on #40
Take a look at the WebDiffer sample

**Server Side**
https://github.com/mmanela/diffplex/blob/master/WebDiffer/Controllers/DiffController.cs

**Client Side**
https://github.com/mmanela/diffplex/blob/master/WebDiffer/Controllers/DiffController.cs

[2018-11-13 23:37] chris91010 opened #41 "Side by side display issue"
I have been looking at the results that the side by side diff model returns. I have noticed that the position of modifications / imaginary lines on both sides appears incorrect if you have deleted text followed immediately by modified text.

Example:
Line 2 from the left hand side has been deleted on the right, line 3 has been modified.
`This is line 1 | This is line 1`
`This is line 2 | This is l

[2018-11-14 13:32] jaswicki commented on #40
I can't even get that to run. Are there any Windows Forms examples?

[2019-01-19 15:41] #40 closed

[2019-01-19 15:41] #3 closed

[2019-03-13 02:04] #34 closed

[2019-10-26 21:55] YVEF commented on #36
Hello @dekenless , your attachments are different from those you showed.
I compare your files through diffplex and several online text comparers, and I got the same result.
Could you provide another examples with invalid result?

[2019-11-22 21:05] cezarypiatek opened #47 "Cannot detect changes if texts differ by line endings."
This is probably caused by the fact that `string.Split()` function does not preserve separator in the output.

[2019-11-26 04:53] #47 closed

[2020-03-19 09:24] chuki2 opened #51 "Any example for winform?"
Do you have any example for winform?

Thanks in advance

[2020-03-19 09:28] VPKSoft commented on #51
Hi,
I made a class library containing a Windows Forms [control](https://github.com/VPKSoft/ScintillaDiff).
This is for [Scintilla](https://github.com/jacobslusser/ScintillaNET) though 🙄

[2020-03-19 16:41] mmanela commented on #51
That is awesome @VPKSoft . If you want to, please send a PR to add a section on the README of Diffplex to link to your cool work.

[2020-03-20 06:12] VPKSoft commented on #51
I'll do that if I have the time - anyhow, thanks for the great library! 👍

[2020-03-26 15:22] DavidJSnyder opened #53 "Word Level Diffing in the SideBySideDiffViewer WPF Control"
Is there a way to do Word level diffing in the SideBySideDiffViewer WPF Control that I'm missing, or does that only support line level?

[2020-03-26 16:17] mmanela commented on #53
@kingcean Can you help?

[2020-03-27 13:18] kingcean commented on #53
@mmanela OK.

[2020-03-30 05:33] kingcean commented on #51
@chuki2 You can add an `ElementHost` control (in `System.Windows.Forms.Integration` namespace and you can find it in Toolbox of Visual Studio) into your form and set its `Child` property as one of `DiffViewer`, `SideBySideDiffViewer` and `InlineDiffViewer` (in `DiffPlex.Wpf.Controls` namespace of `DiffPlex.Wpf` assembly).

![image](https://user-images.githubusercontent.com/1724940/77877918-aa36690

[2020-03-30 14:32] #53 closed

[2020-04-03 13:04] kingcean commented on #53
Hi @DavidJSnyder You can update `DiffPlex.Wpf` to version `1.1.1` which we have enabled word level diffing in `SideBySideDiffViewer` and `DiffViewer` by default.

[2020-04-03 13:33] DavidJSnyder commented on #53
Thanks, I will try it.

[2020-04-08 12:42] DavidJSnyder opened #55 "Exception Using GoTo in WPF SideBySide"
I am trying to use GoTo to scroll to the differences in the WPF SideBySide and am getting an exception when I call it:
"System.InvalidOperationException: 'The specified Visual and this Visual do not share a common ancestor, so there is no valid transformation between the two Visuals."

You should be able to duplicate by adding something like
 DiffView.GoTo(25);
to the end of LoadData in WPFDemo.

[2020-04-08 13:45] DavidJSnyder commented on #55
Realized that if I wait for the control to be visible then GoTo works.

[2020-04-08 13:45] #55 closed

[2020-04-29 21:36] daveyostcom opened #58 "DiffPaneModel could report pass/fail"
I'm using DiffPlex to show differences when a unit test fails. Thank you!

For such uses, a property like this would be convenient in `DiffPaneModel`:
[code]

Workaround is to first check if the strings are equal and call diff only if they're not.

[2020-04-29 22:04] mmanela commented on #58
Interesting suggestion, would you be interesting in contributing?

[2020-04-30 04:25] daveyostcom commented on #58
Sorry, can't.

[2020-05-19 05:54] michasacuer commented on #58
Have same issue as @daveyostcom . That property would be amazing. @mmanela  i can contribute if u wish :) Do you have any slack or other for this project?

[2020-05-19 15:50] mmanela commented on #58
@michasacuer I don't have a slack but we can use this item to discuss if that works

[2020-05-19 17:35] michasacuer commented on #58
Cool, if i will have questions i will post it here :)

[2020-05-19 18:04] michasacuer commented on #58
Im allowd to use Linq?

[2020-05-19 18:09] daveyostcom commented on #58
Erik Meijer when asked what features of C# aren't used enough, answered LINQ and async/await. That was a while ago. 😎

[2020-05-20 16:30] mmanela commented on #58
Linq is great!

[2020-05-21 04:36] daveyostcom commented on #58
While we're on the subject of diffing actual vs expected in test results...

Whereas +/–/␠ and green/red/grey work well to show new/old/same versions, when they are used to indicate actual vs expected test results, they are not so successful because they incur a cognitive load. Quick:
- Do +/– mean good/bad?
- Do +/– mean actual/expected or expected/actual?
- Should I think of actual/expected as o

[2020-05-22 13:09] michasacuer commented on #58
@mmanela  i have a question, when you push new release on nuget (with `has differences`)?

[2020-05-22 17:31] mmanela commented on #58
@michasacuer I just published 1.6.2

[2020-05-22 17:55] #58 closed

[2020-06-09 02:33] daveyostcom opened #62 "ignoreWhitespace: true apparently ignores only leading whitespace"
[code]

[2020-06-11 04:33] mmanela commented on #62
Yea, if you do word diffing it works as you expect but when doing line diffing it only does beginning and end.

What is your expected behavior @daveyostcom ?

[2020-09-04 07:08] bessgeor opened #63 "Question: What does ChangeType.Imaginary means?"
As in subject. `Deleted`, `Inserted`, `Modified` and `Unchanged` are pretty intuitive, but I can't get what does `ChangeType.Imaginary` means i.e. in what cases line change is "Imaginary"?

[2020-09-04 16:58] mmanela commented on #63
It represents the grey "imaginary" lines on the left side of this image. Basically, there isn't a change on the left doc, but the space is added to match to the right.
![image](https://user-images.githubusercontent.com/304410/92266922-dab3ac00-ee94-11ea-998d-c28987423f71.png)

[2020-09-05 10:16] bessgeor commented on #63
Thanks, that makes sense

[2020-09-05 10:16] #63 closed

[2020-10-05 17:17] imranazad opened #64 "HTTP Error 500.37 - ANCM Failed to Start Within Startup Time Limit"
Using ASP.NET Core 3.1.8 Deployed website of DiffPlex to IIS but keep seeing:

HTTP Error 500.37 - ANCM Failed to Start Within Startup Time Limit.

I've also increased `requestTimeout` in web.config but no luck.

Any ideas?

[2020-10-13 19:18] JamesSkemp commented on #40
So I needed to implement this in a Windows Forms app for my job.

What would be the best way to share the code for a simple Windows Forms application demo? (I haven't written one yet; the implementation for work is pretty specific to our needs.)

[2020-10-13 19:41] mmanela commented on #40
Ideally it would be a simple sample app that we can include in the repo. Otherwise, we could just author a wiki page

[2020-10-17 17:38] #62 closed

[2020-12-09 10:22] eem-nk opened #68 "Results are not similar to git difftool"
Attaching an image for details
![Capture](https://user-images.githubusercontent.com/73529312/101617273-4415fe80-3a32-11eb-9b4a-d0a618e75c03.PNG)

[2020-12-09 17:12] mmanela commented on #68
There are different diff algorithms likely. Can you be more specific about what is wrong?

[2020-12-10 14:30] #68 closed

[2020-12-19 20:16] cakmaksevgi opened #69 "can we detect moved lines?"
I know deleted,inserted abd modified lines for now. Is there any way to understand moved lines also?

[2020-12-19 21:36] berkslv commented on #69
maybe this source will helps you.
[https://dev.to/cloudx/how-to-color-the-moved-code-in-git-10ei](url)

[2020-12-19 22:53] cakmaksevgi commented on #69
I generate diff HTML like this library [textdiff](https://github.com/lzinga/BlazorTextDiff.)  BlazorTexdiff uses diffplex as well. I want to show moved lines as blue for example.

[2021-01-18 19:18] tolanj opened #71 "Issue when passing in an IDiffer to SideBySideDiffBuilder"
When using the overload to pass in an IDiffer to the SideBySide model ALL SubPieces appear on all changes.  Cause appears to be:

[code]
Should be CreateDiffs(ot, nt ......

[2021-01-18 23:26] HoveringGoat opened #72 "WPF Demo shows IgnoreUnchanged but the diffplex.wpf nuget package does not have this property"
Spent a while trying to figure out how to enable this but looks like its a new feature and the built package does not have it.

[2021-01-19 20:01] mmanela commented on #72
Updated

[2021-01-19 20:01] #72 closed

[2021-01-19 20:26] HoveringGoat commented on #72
Awesome! Thanks a bunch.

[2021-01-20 15:21] boukenka opened #73 "Not expected result"
Hello,

I am doing the following :

[code]

The result should be that only character '1' has been changed to '2'.
Or it is not the result.
The line of the old text is defined as deleted in the subPieces and the line of the new text is defined as inserted in the subPieces.
Could you help please? Is it by design? Is there a workaround?

PS: If ignoreWhiteSpace is set to True or False, the result rem

[2021-01-20 19:15] mmanela commented on #73
The default word separator does not consider < or > to break words (this may be a mistake but has been this way for a long time). To get around this you need to pass your own word breaker. The below code shows you how:

[code]

[2021-01-20 19:42] boukenka commented on #73
Thank you @mmanela. I will give it a go. 😄

[2021-01-23 12:21] boukenka commented on #73
That solved my problem. 😄

May I suggest the following two points, please.
* Update the entire project to .NET 5.
* Add a checkbox in the WPF demo project where there is the use of the DelimiterChunker object.

Thanks again.

[2021-01-24 19:24] mmanela commented on #73
@boukenka  Both are reasonable suggestion. Would you be interested in contributing :) PRs are gladly appreciated

[2021-01-24 19:24] #73 closed

[2021-03-05 02:44] angelochu7 opened #75 "WebDiffer keeps loading on my browser upon Visual Studio 2019 compilation"
Hi,
I am using Visual Studio 2019 on Windows 10 and try to compile and run the WebDiffer project on browser but it just keeps loading forever.
I changed the target framework to netcore 3.1 for the WebDiffer project and change to netstandard 2.0 as target frameworks for diffplex project as well. There are no error message from the error list in Visual Studio. Visual Studio itself caused the problem

[2021-03-05 21:57] jimfoye commented on #62
@mmanela So, how do we "do word diffing" to get the diff to ignore all whitespace? I'm using the SideBySideDiffBuilder static helper methods, but always the result is the same, as OP reported, that only whitespace at the start and end of lines is being ignored. Thanks.

[2021-03-10 15:09] kingcean commented on #51
@mmanela I think you can close this issue since I have sent PR for demo as well as I post the comment here a year before.

[2021-03-10 22:53] #71 closed

[2021-03-10 22:53] mmanela commented on #51
Merged!

[2021-03-10 22:53] #51 closed

[2021-03-10 22:53] #36 closed

[2021-03-10 22:54] #30 closed

[2021-03-10 22:55] mmanela commented on #62
You found a bug for sure, just pushed a commit to fix it

[2021-03-25 15:14] gandhis1 commented on #29
@mmanela Has anything changed with regards to this since this was posted 3 years ago? I too am looking to use `InlineDiffBuilder` for word-level chunking (or anything more granular than line level)

[2021-04-08 18:34] adamshakhabov commented on #75
I had the same issue. Changed IIS Express on WebDiffer (Kestrel) and it works.

[2021-04-23 09:54] cpallotti73 opened #79 "Control DiffViewer: doesn't show text but color only"
I'm probably wrong, but the control displays the different colors in the differences lines but without text (see you image attached).
Same problem if set 'ShowInline'.
What am I doing wrong?
![DiffViewer](https://user-images.githubusercontent.com/59970792/115854276-5f563900-a42a-11eb-81a7-1b0dc07bdb0b.PNG)

I use VS2019 + .net framework 4.6.1

Thanks in advance

[2021-04-23 23:46] mmanela commented on #79
@kingcean  Can you take a look?

[2021-04-24 04:04] kingcean commented on #79
Hi @cpallotti73 could you please try to set `Foreground` property by a color or any kind of `Brush` to have a test?

[2021-05-16 19:08] TimMangan opened #80 "NuGet version numbers"
The NuGet version number shows the latest as 1.7 .  How does this related to tagged versions here and can you Synchronize or at least add a mapping in the Readme?

[2021-05-19 14:53] mmanela commented on #80
I updated the tags in the repo to have one for diffplex and one for wiffplex wpf. Thanks for pointing this out

[2021-05-19 14:53] #80 closed

[2021-05-24 06:52] LucasFoe opened #81 "Cast Error in WF Desinger: LineNumberWidth Property should be int instead of double"
DependencyProperty LineNumberWidthProperty in DiffViewer.xaml.cs

[2021-06-06 10:59] driekus77 commented on #29
@mmanela I also would appreciate more detailed diff results for InlineDiffBuilder.

If I have some time I try to create a PR for this. Can you give some starting tips?

[2021-06-06 17:00] mmanela commented on #35
It's hard, the algorithm is optimizing for the minimal number of edits. The easiest way to get a closer to what you want is to use a word chunker. It would give you a coarser diff but sometimes more clear. For example, for the above example it would give this diff with a word chunker:

![image](https://user-images.githubusercontent.com/304410/120933197-e21b1680-c6ad-11eb-8dd0-fb1a05191742.png)

Wi

[2021-06-06 17:01] mmanela commented on #79
Since I haven't heard back from @cpallotti73 , closing for now

[2021-06-06 17:01] #79 closed

[2021-06-06 17:02] mmanela commented on #75
@angelochu7  Does the suggestion from @adamshakhabov  solve your issue?

[2021-06-06 17:02] mmanela commented on #81
@kingcean  can you take a look?

[2021-06-06 18:05] mmanela commented on #41
Thanks for reporting and describing the issue. The result I see is slightly different. I see it reported as this:
![image](https://user-images.githubusercontent.com/304410/120935083-efd49a00-c6b5-11eb-8a78-66563a2cd45e.png)
In this  result I do agree ideally the imaginary line should be next to "This is line 2".

Right now what diffplex does is an iterative approach, it first does "line diffing" a

[2021-06-06 18:14] mmanela commented on #29
I was thinking about this, it might (havent looked too deeply) be simplest to generalize the SideBySideDiffbuilder's logic and have InlineDiffBuilder just consumer the results of SideBySide and then flatten it.

[2021-06-06 18:18] driekus77 commented on #29
I'm already busy with some code.  Adding a HierarchialDiff as extra methods on both SideBySideDiffBuilder and InlineDiffBuilder. These methods use by default all 3 chunkers: Lines --> Words --> Chars.

[2021-06-06 20:17] mmanela commented on #29
I looking forward to seeing what you end up with. Ideally, we can share most of the logic between the two diff builders. That would make it more maintainable.

[2021-06-07 12:10] LucasFoe commented on #81
Int32 as type for LineNumberWidthProperty is ok for me. I use a patched version with that change.

[2021-06-07 12:10] #81 closed

[2021-08-12 08:14] xlsupport opened #84 "ToString override on DiffPiece (and possibly others)"
Please add a ToString override or [DebuggerDisplay] on the Model.DiffPiece
e.g.  $"Pos:{Pos,-6} Subs:{SubPieces.Count,-6} {Type,-16} {Text}"

Then expanding a DiffPaneModel's Lines would actually show most of what you need.

[2021-09-01 09:57] Scandal-UK commented on #79
I get this behaviour as well - no matter what I do. To begin with, I thought it was due to my high-DPI monitor but it can be consistently reproduced on all the dev machines that I have. Presumably the "ElementHost" is playing up??

[2021-09-01 15:00] kingcean commented on #79
Hi @Scandal-UK could you please try to set Foreground property by a color to have a test? And does this happen in WinForms or WPF application?

[2021-09-01 15:05] Scandal-UK commented on #79
I have tried that - and even setting the font. This is WinForms (which I think just uses an ElementHost? I haven't looked closely).

[2021-09-02 02:05] kingcean commented on #79
Could you please confirm if you are running the project `DiffPlex.WindowsForms.Demo`? It is demo of WinForms application.

![DiffPlex.WindowsForms.Demo project](https://user-images.githubusercontent.com/1724940/131769628-f079a9d7-c6f2-4756-8880-1511920b9879.png)

[2021-09-02 05:46] kykm1307 opened #85 "LineNumberWidth error occured"
I had use diffplex.wpf from nuget to implement into my windows form project. However it prompt this error.
![Annotation 2021-09-02 134435](https://user-images.githubusercontent.com/16912282/131788647-31f67680-e964-4ede-821f-14c0f0d49ff3.png)
and when I run as single view it wont show words as screenshot below
![Annotation 2021-09-02 134630](https://user-images.githubusercontent.com/16912282/131788

[2021-09-02 09:24] kykm1307 opened #86 "Do you have any inline that highlight different word in windows form?"
Do you have any inline that highlight different word in windows form?

[2021-09-02 13:05] Scandal-UK commented on #79
Of course not, I followed the instructions on the front page?? I have created my own control now with two RichTextBox instances in a SplitContainer (with synchronised scrolling), but I'd rather use your control.

Steps to reproduce:

- Create new WinForms project (targeting .NET 5 or .NET Core 3.1)
- Add NuGet package: DiffPlex.Wpf
- Drop DiffViewer from toolbox onto form (optionally set Dock to F

[2021-09-04 03:17] kingcean commented on #79
Could you please run the demo `DiffPlex.WindowsForms.Demo` mentioned above to have a test? Or run `net5.0-windows\DiffPlex.WindowsForms.Demo.exe` in [DiffPlex.Win32.Demo.zip](https://github.com/mmanela/diffplex/files/7109108/DiffPlex.Win32.Demo.zip) which I built locally.

- If it works well, could you please compare the code between yours and [the one in demo](https://github.com/mmanela/diffplex/

[2021-09-04 13:42] mmanela commented on #85
@kingcean  can you take a look?

[2021-09-04 14:51] kingcean commented on #85
Hi @kykm1307 could you please share your code about it to me if you don't mind? Or compare it with [the one in demo](https://github.com/mmanela/diffplex/blob/eccf6c1d548bca287d27068e71e7e1fd133c60d7/DiffPlex.WindowsForms.Demo/MainForm.cs#L37)?

![Screenshot 2021-09-04 224954](https://user-images.githubusercontent.com/1724940/132098597-2000db0f-f272-4b62-80a7-2c3ac285fe6f.jpg)

[2021-09-13 10:33] codec-abc opened #87 "Wpf performance"
Hi,

I am experimenting using this library to diff rather big YAML (10000-20000) and using the built-in WPF component the starting time is rather long (~15s for a diff between two 10000 lines long files). Is this expected?

[2021-09-13 16:33] codec-abc opened #88 "3 way diff?"
Hi,

Diff  newbie here. Assuming I want to build a 3 way-merge tool (1 common ancestor and 2 versions) can this be used to build such a thing? In that case , how one should do it. Maybe diffing both file against the common ancestor and comparing sequence but then conflict don't seem to detect at first glance. If you have any advice about this please feel free to give them 😄

[2021-09-14 09:44] kingcean commented on #86
Maybe this demo is useful for you.
https://github.com/mmanela/diffplex/tree/master/DiffPlex.WindowsForms.Demo

[2021-09-27 17:43] gswartz777 opened #89 "using diffplex with StructureMap"
In our mvc app (.net framework  4.7.2) I'm following along with the example web site by adding the following to our defaultregistry file.

[code]

But it's complaining about No default Instance is registered and cannot be automatically determined for type 'DiffPlex.IChunker'  How can I resolve this in structuremap?  Thanks.

[2021-12-07 00:23] wegoodwin opened #90 "WPF DiffViewer Splitter bar issue"
For some reason the splitter bar is not working when I use the WPF example provided.  On the design window it shows the splitter bar offset to the left of the screen.  When I run the app I cannot move the splitter bar at all.  I have attached a screenshot of the issue.
![ss1](https://user-images.githubusercontent.com/44485100/144943556-5e2c9bc4-f8c9-45f8-91cc-d5f958edad1d.png)

[2022-02-28 21:16] tombogle opened #91 "When two strings end with the same words, CreateWordDiffs includes the first common word as an insertion and deletion"
DiffPlex.Differ.Instance.CreateWordDiffs("Am I a substring?", " a substring?", false, false, new [] ' ')
yields a result with a single DiffBlock:
DeleteCountA = 3
DeleteStartA = 0
InsertCountB = 1
InsertStartB = 0

I think the correct result should be
DeleteCountA = 2
DeleteStartA = 0
InsertCountB = 0
InsertStartB = 0

[2022-02-28 21:19] tombogle commented on #91
If I remove the leading space from the second argument, I get an even more bizarre result:
DiffPlex.Differ.Instance.CreateWordDiffs("Am I a substring?", "a substring?", false, false, new [] ' ')
yields a result with a single DiffBlock:
DeleteCountA = 4
DeleteStartA = 0
InsertCountB = 0
InsertStartB = 0

[2022-03-04 22:00] mmanela commented on #91
Thanks for the details. Part of this is by design (although its a bit confusing) and part of it is a bug that you found.

The way the chunking works in this case is that is will break up the words by those delimiters (in this case a space) but it will still include the delimiters as "words" in the diff. That is why the count is more than you expect, since it includes the spaces. The delimiters are

[2022-03-04 22:00] #91 closed

[2022-03-07 14:55] tombogle commented on #91
Thanks for the explanation and the fix.

[2022-03-11 22:59] Vicharian commented on #87
I get the following error. The File is 300,000 lines of Json

Managed Debugging Assistant 'ContextSwitchDeadlock'    Message=Managed Debugging Assistant 'ContextSwitchDeadlock' : 'The CLR has been unable to transition from COM context 0x16a7ab8 to COM context 0x16a7a00 for 60 seconds. The thread that owns the destination context/apartment is most likely either doing a non pumping wait or processin

[2022-03-11 23:34] rdorris opened #92 "Is UnidiffFormatter.cs no longer included?"
UnidiffFormater.cs contained in the DiffPlex.ConsoleRunner project.

[2022-03-19 19:05] mmanela commented on #92
The InlineDiffBuilder provides the functionality and its in the main dll.

[2022-03-19 19:05] #92 closed

[2022-05-04 19:24] ajardolino3 opened #93 "Loading of Large File Hangs"
I am creating a DiffViewer control (WindowsForms) just like the demo code.  Works fine with small files, but when I have a file that has a few thousand lines, it hangs for a while.  Eventually it loads, but it just takes forever.  Not sure what is wrong.  Can this be fixed please?

[2022-05-12 12:35] mmanela commented on #93
Is the delay from the core lib or the UI control?

[2022-06-05 15:38] lchthanhth615 opened #94 "Cannot diff spaces"
"This is text 1"  and "this is text     1"  => it can not show diff for spaces.

[2022-06-06 14:10] mmanela commented on #94
It does support that. Let me show you some sample code.  The below code will take the example you gave and print out two lines, the old and the new while highlighting any changes. I replace spaces with dots to make it easier to see.

Here is the output
![image](https://user-images.githubusercontent.com/304410/172177678-1ea6e585-c0ab-4689-9dbd-0b2d4a631132.png)

Here is the code:

[code]

[2022-06-07 07:47] lchthanhth615 commented on #94
Thanks @mmanela  for your response.
Not sure why, but I install the plugin from .NET Nugget Manager (DiffPlex.Wpf.1.3.1 and DiffPlex.1.7.1). And I see it cannot show diff for that case:
![image](https://user-images.githubusercontent.com/26566815/172325333-20d873c6-b5c7-4f69-8dea-04fa7d90083b.png)

[2022-11-01 04:34] beauholland opened #99 "No text showing in windows forms"
Similar to: https://github.com/mmanela/diffplex/issues/79

<img width="268" alt="screenshot" src="https://user-images.githubusercontent.com/4987869/199159375-ad63340c-6293-47ab-a535-576ee527fecb.png">

Visual Studio 2022

Targeting .Net 6.0

Windows Forms

DiffPlex.Wpf 1.3.2

Tried modifying font, fore/back colors - no luck

Repo replicating the issue here: https://github.com/beauholland/diffplexw

[2022-11-01 08:23] beauholland commented on #99
Finally figured it out.

Colors for: Insert, Unchanged, Deleted were Alpha'd out ie: **Transparent**

They were set to: Color.FromArgb(0, 0, 0, 0) - by default

Update the colors for:

`diffViewer1.InsertedForeColor = Color.FromArgb(255, 0, 0, 0);
diffViewer1.UnchangedForeColor = Color.FromArgb(255, 0, 0, 0);
diffViewer1.DeletedForeColor = Color.FromArgb(255, 0, 0, 0);`